<mat-sidenav-container class="sidenav">
  <img class="image" src="assets/img/dashboard-v2-1.png">

  <div class="a-links">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a><hr>
  <a routerLink="/proforma" routerLinkActive="active">Proforma&lt;</a><hr>
  <a routerLink="/doctor" routerLinkActive="active">Doctor&lt;</a><hr>
  <a routerLink="/patient" routerLinkActive="active">patient&lt;</a><hr>
  <a routerLink="/nurse" routerLinkActive="active">nurse&lt;</a><hr>
  <a routerLink="/pharmacist" routerLinkActive="active">pharmacist&lt;</a><hr>
  <a routerLink="/labortatotist" routerLinkActive="active">labortatotist&lt;</a><hr>
  <a routerLink="/accountant" routerLinkActive="active">accountant&lt;</a><hr>
  <a routerLink="/receptionist" routerLinkActive="active">receptionist&lt;</a><hr>
  <a routerLink="/monitor" routerLinkActive="active">monitor&lt;</a><hr>
  <a routerLink="/noticeboard" routerLinkActive="active">noticeboard&lt;</a>
</div>

</mat-sidenav-container>
