<body>
  <h1>DASHBOARD</h1>
  <div class="cardss">
    <mat-card class="card1">
      <mat-card-header>
        <mat-card-title>Outstanding Proforma</mat-card-title>
      </mat-card-header>
      <hr>
      <div class="hm">
      <div  clickColor>
        <p>15</p>
      </div>
      <p>IT</p></div>
      <div class="hm">
      <div clickColor color='#F56856'>
         <p>9</p>
      </div>
      <p>CAD</p>
    </div>
      <div class="hm">
      <div  clickColor color='#F56856'>
        <p>03</p>

      </div>
      <p>LC</p>
    </div>
    </mat-card>
    <mat-card  class="card2">
      <mat-card-header>
      <mat-card-title>LC STATUS</mat-card-title>
      </mat-card-header>
      <hr>

       <div class="hm">
      <div  clickColor>
        <p>05</p>
      </div>
      <p>LC DRAFT</p>
    </div>
    <div class="hm">
      <div  clickColor color='#F56856'>
         <p>03</p>
      </div>
      <p>LC COPY</p></div>
      <div class="hm">
      <div  clickColor color='#F56856'>
        <p>06</p>
      </div><p>SCANNED LC</p></div>
    </mat-card>
    <mat-card class="card3">
      <mat-card-header>
        <mat-card-title>DELIVERY PLAN</mat-card-title>
      </mat-card-header>
      <hr>
      <img src="assets/img/card3.png" style="height: 80%;width: 100%; ">
      </mat-card>
  </div>
  <div class="top-right">
    <a routerLink="/dashboard" routerLinkActive="active" style="float: left;">Dashboard</a>
    <a routerLink="/dashboard" routerLinkActive="active" >Home</a>&gt;

  </div>


    <div class="card4">
      <div class="name">
      <p>YEAR 2019&lt;&gt;</p>
      </div>
    <div  class="inner-card1">
    <div class="container-card">
        <p>Complaints </p>
    </div>
    <div class="after-container">

        <div class="outer-circle">
          <div  clickColor>
            <p>42</p>
          </div>
          <p>OPEN</p>
        </div>
        <div class="outer-circle">
          <div  clickColor color='#F56856'>
             <p>48</p>
          </div><p>CLOSED</p>
        </div>
        <div class="outer-circle">
          <div  clickColor color='#F56856'>
            <p>90</p>

         </div><p>TOTAL</p></div>
      </div>
    </div>
    <div  class="inner-card1">
      <div class="container-card">
        <p>Queries </p>
      </div>
      <div class="after-container">

        <div class="outer-circle">
          <div  clickColor>
            <p>35</p>
          </div>
          <p>OPEN</p>
        </div>
        <div class="outer-circle">
          <div  clickColor color='#F56856'>
             <p>25</p>
          </div><p>CLOSED</p>
        </div>
      <div class="outer-circle">
          <div  clickColor color='#F56856'>
            <p>60</p>

         </div><p>TOTAL</p></div>
        </div>
    </div>
    <div  class="inner-card1">
      <div class="container-card">
        <p>Others </p>
      </div>
      <div class="after-container">

        <div class="outer-circle">
          <div  clickColor>
            <p>20</p>
          </div>
          <p>OPEN</p>
        </div>
        <div class="outer-circle">
          <div  clickColor color='#F56856'>
             <p>48</p>
          </div><p>CLOSED</p>
      </div>
      <div class="outer-circle">
          <div  clickColor color='#F56856'>
            <p>68</p>

         </div><p>TOTAL</p></div>
        </div>
    </div>
    <div  class="inner-card1">
      <div class="container-card">
          <p>Complaints </p>
      </div>
      <div class="after-container">

          <div class="outer-circle2">
            <div  clickColor>
              <p>42</p>
            </div>
            <p>25</p>
          </div>
          <div class="outer-circle2">
            <div  clickColor color='#F56856'>
               <p>30</p>
            </div><p>CAD</p>
          </div>
          <div class="outer-circle2">
            <div  clickColor color='#F56856'>
              <p>35</p>

           </div><p>LC</p></div>
           <div class="outer-circle2">
            <div  clickColor color='#F56856'>
              <p>41</p>

           </div><p>OTHERS</p></div>
        </div>
      </div>
</div>

</body>
